<section class="mr-page">
  <div class="mr-page__container">
    <h1 class="mr-page__title">{{ article.title }}</h1>
    <div class="mr-page__content">{{ article.content }}</div>
  </div>
</section>

{% schema %}
{
  "name": "Artículo",
  "settings": []
}
{% endschema %}
