<section class="mr-password">
  <h1 class="mr-password__brand">{{ settings.brand_name | default: 'MILA ROSSE' }}</h1>
  <p class="mr-password__text">Próximamente</p>
</section>

{% schema %}
{
  "name": "Password",
  "settings": []
}
{% endschema %}
